*.pyc
*.log
build/
dist/
opentapioca.egg-info/
.venv/
.project
.pydevproject
.settings/
configsets/_default/
/.idea/
/dump/latest-all.json.bz2
/data/rss_istex_classifier.pkl
/data/wd_2019-02-24.bow.pkl
/data/wd_2019-02-24.pgrank.npy
